.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
yarn.lock
package-lock.json
tsconfig.json
**/*.ts
**/*.map
.nyc_output
coverage
node_modules/**
test/**
**/.eslintrc.json
**/*.vsix
.github/**
*.md
!README.md
CI_README.md
package-and-install.sh